html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
	
html, body {
    cursor: none;
    user-select: none;
    -webkit-user-select: none;
}

#header span {
    font-size: 6em;
    font-weight: bold;
    container-name: header
}

#header img {
    height: 160px;
}

#clock {
    width: 100px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

table thead {
    font-size: 4em;
}

table tbody {
    font-size: 5em;
}

table tbody tr > td {
    height: 150px;
}

table tbody td:last-child, table thead th:last-child {
    padding-right: 30px !important;
}

table tbody .w3-round {
    width: 200px;
}

table thead th, 
table tbody td {
    overflow: hidden;
    white-space: nowrap;
}

/* Toggling Cancellation Flags */

table tbody td span.st-cancellation-toggle {
    grid-column: 1;
    grid-row: 1;
}

table tbody td span.st-cancellation-toggle:first-child {
    visibility: visible;
    animation: anim-cancellation-toggle 2s infinite;
}

table tbody td span.st-cancellation-toggle:last-child {
    visibility: hidden;
    animation: anim-cancellation-toggle-odd 2s infinite;
}

@keyframes anim-cancellation-toggle {
    0%, 50% { visibility: visible; }
    50.1%, 100% { visibility: hidden; }
}

@keyframes anim-cancellation-toggle-odd {
    0%, 50% { visibility: hidden; }
    50.1%, 100% { visibility: visible; }
}

/* Situations */

div#situations-div {
    font-size: 5em;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

div#situations-div #situations-runner {
    animation-iteration-count: infinite;
    animation-name: anim-situations-runner;
    animation-timing-function: linear;
    padding: 5px 15px 5px 15px;
    display: flex;
}

div#situations-div #situations-runner:hover {
    animation-play-state: paused;
}

@keyframes anim-situations-runner {
    from {
        transform: translateX( 100vw );
    }
    to {
        transform: translateX( -100% );
    }
}

/* Media Queries */

@media only screen and (max-width: 1000px) {
    #header span {
        font-size: 4em;
        font-weight: bold;
        container-name: header
    }
    
    #header img {
        height: 85px;
    }
    
    table thead {
        font-size: 2em;
    }
    
    table tbody {
        font-size: 2em;
    }

    table tbody tr > td {
        height: 80px;
    }

    table tbody .w3-round {
        width: 90px;
    }

    div#situations-div {
        font-size: 2em;
    }
}

@media only screen and (max-width: 600px) {
    #header span {
        font-size: 2em;
        font-weight: bold;
        container-name: header
    }
    
    #header img {
        height: 45px;
    }
    
    table thead {
        font-size: 1.1em;
    }
    
    table tbody {
        font-size: 1.1em;
    }

    table tbody tr > td {
        height: 60px;
    }

    table tbody .w3-round {
        width: 45px;
    }

    div#situations-div {
        font-size: 1.1em;
    }
}