<!DOCTYPE html>
<html lang="de">
	<head>
		<title>{{ landing['title'] }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', path='/css/w3.css') }}" />
		<link rel="stylesheet" href="{{ url_for('landing', path='/css/landing.css') }}">
		<link rel="stylesheet" href="{{ url_for('landing', path='/css/autocomp.css') }}">
		<style>
		.w3-theme {
			background: {{ landing['color'] }};
			color: #ffffff;
		}
		</style>
	</head>
	<body>
		<header id="header" class="w3-padding-16 w3-theme">
			<div class="w3-content w3-bar">
				<div class="w3-bar-item">
					<img src="{{ url_for('landing', path=landing['logo']) }}" width="65" height="65" />
				</div>
				<div class="w3-bar-item">
					<h1><b>{{ landing['title'] }}</b></h1>
				</div>
			</div>
		</header>
		<main class="w3-main w3-content w3-cell-row w3-padding-32">
			<div class="w3-container w3-cell w3-medium w3-animate-left">
				<h2><b>Gewünschte Abfahrten</b></h2>
				<p class="w3-text-gray">Wählen Sie die Haltestelle, von der die Abfahrten angezeigt werden sollen.</p>
				<form action="" method="GET">
					{% if 'title_enabled' in landing and landing['title_enabled'] %}
					<div class="w3-padding-16 w3-hide-small">
						<label for="input-title" class="w3-label"><b>Überschrift</b></label>
						<input id="input-title" class="w3-input w3-round w3-border" type="text" placeholder="Abfahrten" onkeyup="updateLanding()" />
					</div>
					{% endif %}
					<div class="w3-padding-16">
						<label for="input-stop_ref" class="w3-label"><b>Haltestelle</b></label>
						<input id="input-stop_ref" class="w3-input w3-round w3-border" type="text" placeholder="z.B. Pforzheim Leopoldplatz" />
					</div>
					{% if 'num_results_enabled' in landing and landing['num_results_enabled'] %}
					<div class="w3-padding-16 w3-hide-small">
						<label for="input-num_results" class="w3-label"><b>Anzahl Abfahrten</b></label>
						<input id="input-num_results" class="w3-input w3-round w3-border" type="number" placeholder="10" onkeyup="updateLanding()" />
					</div>
					{% endif %}
					{% if 'template_enabled' in landing and landing['template_enabled'] %}
					<div class="w3-padding-16 w3-hide-small">
						<label for="input-template" class="w3-label"><b>Layout</b></label>
						<select id="input-template" class="w3-select" onchange="updateLanding()">
							{% for template in landing['templates'] %}
							<option value="{{ template }}"{% if template == landing['default_template'] %} selected{% endif %}>{{ template }}</option>
							{% endfor %}
						</select>
					</div>
					{% else %}
					<input type="hidden" id="input-template" value="{{ landing['default_template'] }}" />
					{% endif %}
					<div class="w3-padding-16">
						<a id="link-open" class="w3-button w3-theme w3-round-large w3-mobile" target="_blank"><b>Öffnen</b></a>
					</div>
				</form>
			</div>
			<div class="w3-container w3-cell w3-medium w3-animate-left w3-hide-medium w3-hide-small">
				<h2><b>Vorschau</b></h2>
				<div id="div-wrapper-preview">
					<iframe class="w3-hide-medium w3-hide-small" src="" id="iframe-preview"></iframe>
				</div>
			</div>
		</main>
		<script src="{{ url_for('landing', path='/js/autocomp.js') }}"></script>
		<script>
		var selectedStopRef = null;

		function updateLanding() {
			if (selectedStopRef == null) {
				return;
			}
		
			let templateId = document.getElementById('input-template').value;
			let localTargetUrl = `{{ url_for('view-baseurl') }}/${templateId}?`;

			let targetUrlParams = new URLSearchParams();
			targetUrlParams.set('s', selectedStopRef);
		
			let inputTitle = document.getElementById('input-title');
			if (inputTitle != null && inputTitle.value != '') {
				targetUrlParams.set('t', inputTitle.value);
			}

			let inputNumResults = document.getElementById('input-num_results');
			if (inputNumResults != null && inputNumResults.value != '') {
				targetUrlParams.set('n', inputNumResults.value);
			}

			localTargetUrl = localTargetUrl + targetUrlParams;

			// update open link in general
			let linkOpen = document.getElementById('link-open');
			linkOpen.href = localTargetUrl;

			// update preview only if it is visible at all
			let iframePreview = document.getElementById('iframe-preview');
			let iframePreviewVisible = window.getComputedStyle(iframePreview).display != 'none';

			if (iframePreviewVisible) {
				iframePreview.src = localTargetUrl;
			}
		}

		autocomp(document.getElementById('input-stop_ref'), {
			onQuery: async (val) => {
				if (val.length > 3) {
					let response = await fetch(`/json/stops.json?q=${val}`);
					let result = await response.json();

					return result.stops;
				}
				
				return [];
			},

			onSelect: (obj) => {
				selectedStopRef = obj.id;
				updateLanding();

				return obj.name;
			},
			
			onRender: (obj) => {
				const d = document.createElement('span');
				d.appendChild(document.createTextNode(obj.name));
				
				return d;
			}
		}); 
		</script>
	</body>
</html>
